/* global styles */
body { 
    margin: 0;
}

h1 {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4.688rem;
    color: white;
    line-height: 1;
}

h2 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.875rem;
    color: white;
}

h3 {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
}

h4 {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.375rem;
    color: black;
    line-height: 1.2; 
}

h5 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.25rem;
    color: black;
}

p {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.125rem;
    color: black;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
  }

button {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px 45px;
    border: none;
    color: white;
    padding: 15px 25px;
    font-family: "Quicksand", sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    width: 100%;
    height: 56px;
}

.button-secondary {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    padding: 15px 20px;
    font-size: 1rem;
    width: max-content;
    height: 45px;
    line-height: 0;
}

.button-third {
    background-color: white;
    border-radius: 30px;
    border: 3px solid black;
    padding: 15px 20px;
    color: black;
    width: max-content;
    height: 56px;
    line-height: 0;
    font-weight: 800;
}

.button-forth {
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    border: 3px solid black;
    padding: 15px 20px;
    color: rgb(255, 255, 255);
    width: max-content;
    height: 56px;
    line-height: 0;
    font-weight: 800;
}

button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 1);
}

.button-secondary:hover {
    background-color: rgba(255, 255, 255, 1);
    color: black;
}

.button-third:hover {
    background-color: black;
    border: 3px solid black;
    color: white;
}

.button-forth:hover {
    background-color: white;
    border: 3px solid black;
    color: black;
}

/*Avalehe style*/

#hero {
    background-image: url("../media/Tuulik2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
    width: 100%;
}

.overlay {
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hero_tekst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: white;
    text-align: center;
    padding: 20px;
}

.hero_tekst h1 {
    margin-bottom: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    position: relative;
}

.logo {
    display: flex;
}

.logo2 {
    display: none;
}

.navigatsioon {
    display: flex;
    gap: 30px;
    align-items: center;
}

.navigatsioon a {
    text-decoration: none;
}

.navigatsioon p {
    color: white;
    font-weight: 500;
}

#ajalugu {
    display: flex;
    gap: 50px;
    margin: 100px;
    margin-left: 0px;
    align-items: center;
    justify-content: center;
}

.ajaloo_pildid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    aspect-ratio: 1/1;
    max-width: 700px;
    max-height: 600px;
}   

.tuuliku_pilt {
    grid-column: 1 / 2;
    grid-row: 1 / 3; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.puidu_pilt {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.metsa_pilt {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.ajaloo_tekst {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-width: 400px;
}

.ajaloo_tekst h4 {
    margin-bottom: 30px;
}

.ajaloo_tekst p {
    margin-bottom: 15px;
    color: black;
}

#inimesed {
    margin: 100px;
    justify-content: center;
    text-align: center;
}

.inimesed_sektsioon {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.inimesed_tekst {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.inimesed_pildid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inimene_pilt {
    width: 30vw;
    height: 40vw;
    object-fit: cover;
    border-radius: 30px;
    filter: brightness(75%);
    max-width: 400px;
    max-height: 500px;
}

.inimesed_tekst h5 {
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 1200px;
}

.inimesed_pildid h4 {
    margin-top: 15px;
    line-height: 1;
}

.inimesed_pildid h5 { 
    margin-top: 15px;
}

.inimesed_pildid p { 
    max-width: 375px;
    color: black;
    text-align: center;
    margin-top: 10px;
}

#tegevused {
    margin: 100px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.tegevused_tekst {
    display: flex;
    flex-direction: column;
    justify-self: center;
    max-width: 1100px;
    align-self: center;
}

.tegevused_pildid {
    display: grid;
    grid-template-columns: 1.14fr 1fr 1.14fr;
    grid-template-rows: 1.25fr 1fr;
    aspect-ratio: 6/3;
    gap: 20px;
    justify-content: center;
}

.tegevused_overlay {
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    border-radius: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ekskursioon {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1 / 3; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    background-image: url("../media/tuulik1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-between;
}

.tootuba {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 1; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    background-image: url("../media/tootuba.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-between;
}

.matk {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 2; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    background-image: url("../media/matk.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-between;
}

.oobimine {
    display: flex;
    flex-direction: column;
    grid-column: 3;
    grid-row: 1 / 3; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    background-image: url("../media/oobimine.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-between;
}

.juhi_profiil {
    display: grid;
    grid-template-columns: 30px max-content;
    gap: 10px;
    align-items: center;
    padding: 30px;
}

.juhi_profiil img {
    grid-column: 1;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    border: 2px solid white;
}

.juhi_nimi {
    display: flex;
    flex-direction: column;
}

.tegevused_pildid h4, p {
    color: white;
    text-align: left;
}

.tegevused_pildid h4 {
    font-size: 1.5rem;
    line-height: 1;
}

.tegevused_pildid p {
    font-size: 1rem;
    line-height: 1;
}

.hind_aeg {
    display: flex;
    gap: 10px;
}

.ikoon_tekst {
    display: flex;
    gap: 4px;
}

.tegevused_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 30px;
}

.tegevused_tekst h5 {
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 1200px;
}

.oobimine_tekst {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;

}

.grupi_tekst p {
    color: black;
    text-align: center;
    max-width: 1000px;
}

.grupi_tekst {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    width: 100%;
}

#annetus {
    display: flex;
    flex-direction: column;
    margin: 100px;
    justify-self: center;
    align-items: center;
}

.annetus_tekst {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    text-align: center;
    align-items: center;
}

.annetus_tekst h5 {
    margin-top: 20px;
    margin-bottom: 30px;
}

.annetus_tekst button {
    display: flex;
    gap: 8px;
    align-items: center;
}

.annetus_nupud {
    display: flex;
    gap: 20px;
    justify-self: center;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin: 100px;
}

footer p {
    color: black;
    margin-bottom: 20px;
}

.jaluse_sisu {
    display: flex;
    gap: 150px;
}

.jaluse_sisu li {
    list-style: none;
}

.sotsmeedia_ikoonid {
    display: flex;
    gap: 15px;
}

.eraldusriba {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    overflow: hidden;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
}

.eraldusriba img {
    width: 110%;
    height: auto;
    display: block;
    object-fit: cover;
    min-height: 100px;
    left: -20px;
    position: relative;
}


/* Telefoni vaade */
@media screen and (max-width: 667px) {
    
    .inimesed_sektsioon {
        flex-direction: column;
    }

    .tegevused_pildid {
        display: flex;
        flex-direction: column;
    }

    .ekskursioon {
        height: 300px;
    }

    .tootuba {
        height: 300px;
    }

    .matk {
        height: 300px;
    }

    .oobimine {
        height: 300px;
    }

    .inimene_pilt {
        width: 60vw; 
        height: 80vw; 
    }

    h1 {
        font-size: 1.5rem; /* 20% väiksem kui 4.688rem */
    }
    
    h2 {
        font-size: 0.875rem; /* 20% väiksem kui 1.875rem */
    }
    
    h3 {
        font-size: 1.875rem; /* 20% väiksem kui 3.5rem */
    }
    
    h4 {
        font-size: 1.5rem; /* 20% väiksem kui 2.375rem */
        line-height: 1.2;
    }
    
    h5 {
        font-size: 1rem; /* 20% väiksem kui 1.25rem */
    }
    
    p {
        font-size: 0.875rem; /* 20% väiksem kui 1.125rem */
    }

    #ajalugu {
        margin: 25px;
        margin-top: 100px;
    }

    #inimesed {
        margin: 25px;
    }

    #tegevused {
        margin: 25px;
    }

    footer {
        margin: 25px;
        gap: 50px;
        align-content: center;
    }

    footer h4 {
        margin-bottom: 20px;
    }
    
    .jaluse_sisu {
        gap: 45px;
        align-self: center;
    }

    .eraldusriba {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .button-forth, .button-third, button, .button-secondary {
        font-size: 0.875rem;
        height: 40px;
        padding: 15;
    }

    
}

@media screen and (max-width: 900px) {
    #ajalugu {
        flex-direction: column-reverse;
        text-align: center;
        margin: 25px;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
    }

    .ajaloo_tekst {
        width: 100%;
        min-width: 0px;
    }

    #ajalugu p {
        text-align: center;
    }
    

    .ajaloo_pildid {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-left: calc(-100vw + 50%);
        margin-right: calc(-100vw + 50%);
        position: relative;
        gap: 10px;
        justify-content: center;
        height: 250px;
        min-width: 300px;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    .ajaloo_pildid img {
        width: 170px;
        height: 250px;
        aspect-ratio: 3/5; 
        height: auto; 
        flex-shrink: 0; 
        object-fit: cover;
    }

    header {
        display: grid;
        grid-template-columns: 35px max-content 1fr 35px;
        gap: 20px;
        align-content: space-between;
        padding: 25px;
        align-items: center;
    }

    .logo {
        display: none;
    }

    .logo2 {
        display: flex;
    }

    .logo_container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .close {
        padding-right: 50px;
    }
}


/* Burgermenu stiil */
.navigatsioon button:hover {
    background: white;
    color: #333;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
}

.burger-line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: 0.3s;
}


/* Mobiili vaate burger menüü */
.mobile-nav {
    display: none;
    position: absolute;
    top: 0px;
    right: 0;
    background: white;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: max-content;
}

.mobile-nav-header {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    width: 100%;
    align-items: center;
    justify-items: center;
    margin: 50px;
}

.mobile-nav.active {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.mobile-nav a {
    text-decoration: none;
}

.mobile-nav p {
    color: rgb(0, 0, 0);
    font-size: 2rem;
}

.mobile-nav-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    margin-top: 200px;
    text-align: center;
    height: 100vh;
    align-items: center;
}

.mobile-nav button:hover {
    background: white;
    color: #333;
}

/* Media query 900px ja väiksemaks */
@media screen and (max-width: 900px) {

    .navigatsioon {
        display: none;
    }

    .burger-menu {
        display: flex;
    }
}